<div class="component-demo-container">
  <div class="component-header">
    <a [id]="id"></a>
    <h2>{{ demoTitle }}</h2>
    <div>
      <button
        ngk
        class="ngk-md ngk-secondary"
        [class.active]="showCode"
        icon="icon-code"
        (click)="showCode = !showCode">      
        Code
      </button>
    </div>
  </div>

  <div class="component-demo">
    <div class="component-demo-code" *ngIf="showCode">
      <ngk-tabset>
        
        <ngk-tab id="{{component}}-{{id}}-html">
          <ng-template ngkTabTitle>
            <span>{{component}}-{{id}}.html</span>
          </ng-template>
          <ng-template ngkTabContent>
            <app-code [snippet]="markupSnippet"></app-code>
          </ng-template>
        </ngk-tab>
        <ngk-tab id="{{component}}-{{id}}-typescript">
          <ng-template ngkTabTitle>
            <span>{{component}}-{{id}}.ts</span>
          </ng-template>
          <ng-template ngkTabContent>
            <app-code [snippet]="codeSnippet"></app-code>
          </ng-template>
        </ngk-tab>

        <ng-template [ngIf]="stylesheet">
          <ngk-tab id="{{component}}-{{id}}-scss">
            <ng-template ngkTabTitle>
              <span>{{component}}-{{id}}.scss</span>
            </ng-template>
            <ng-template ngkTabContent>
              <app-code [snippet]="stylesheetSnippet"></app-code>
            </ng-template>
          </ngk-tab>
        </ng-template>
        
      </ngk-tabset>
    </div>
    <div class="component-demo-live">
      <ng-content></ng-content>
    </div>
  </div>
</div>