<p class="instructions">
  The table column visibility can be set using the <code>colVisibility</code> input, which accepts an array of boolean values (true for visible, false for hidden). 
  The <code>colVisibility</code> input does not remove the column from the dom like *ngIf does (for *ngIf dom control of columns, see the <code>colWidth</code> input on the <i>&#60;th xm&#62;</i> below).
</p>
<p class="instructions">
  <b>WARNING:</b> If using <code>colVisibility</code> on the <i>&#60;table xm&#62;</i> tag, table columns cannot be hidden/removed using *ngIf on the <i>&#60;th&#62;</i> and <i>&#60;td&#62;</i> tags. 
  For *ngIf dom control of columns, set widths using the <code>colWidth</code> input on the <i>&#60;th xm&#62;</i> tags.
</p>
<p class="instructions">The <code>colWidths</code> values are the same as the previous example. Some additional styling has been applied to affect the background and padding.</p>
<p class="instructions">*NOTE: If the 'Username' column is removed, as none of the other columns have a flex grow greater than 0, the table does not fill the whole area.</p>

<div class="button-container">
  <button
      xm
      class="ng-kit-sm ng-kit-primary"
      (click)="toggleVisibility(0)">{{colVisibility[0] ? 'Hide Column 1': 'Show Column 1'}}
  </button>
  <button
      xm
      class="ng-kit-sm ng-kit-primary"
      (click)="toggleVisibility(1)">{{colVisibility[1] ? 'Hide Column 2' : 'Show Column 2'}}
  </button>
  <button
      xm
      class="ng-kit-sm ng-kit-primary"
      (click)="toggleVisibility(2)">{{colVisibility[2] ? 'Hide Column 3' : 'Show Column 3'}}
  </button>
  <button
      xm
      class="ng-kit-sm ng-kit-primary"
      (click)="toggleVisibility(3)">{{colVisibility[3] ? '*Hide Column 4' : '*Show Column 4'}}
  </button>
  <button
      xm
      class="ng-kit-sm ng-kit-primary"
      (click)="toggleVisibility(4)">{{colVisibility[4] ? 'Hide Column 5' : 'Show Column 5'}}
  </button>
</div>

<!-- Example Code: Begin -->
<table
  xm
  [colVisibility]="colVisibility"
  [colWidths]="[
    { grow: 0, shrink: 0, basis: '120px'},
    { grow: 0, shrink: 0, basis: '140px'},
    { grow: 0, shrink: 0, basis: '160px'},
    { grow: 1, shrink: 0, basis: '180px'},
    { grow: 0, shrink: 0, basis: '200px' }
  ]">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Title</th>
      <th>Username</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.first}}</td>
      <td>{{employee.last}}</td>
      <td>{{employee.title}}</td>
      <td>{{employee.username}}</td>
      <td>
        <button
          xm
          class="ng-kit-sm ng-kit-primary"
          icon="icon-account">
          Profile
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Example Code: End -->
