.instructions {
  margin-bottom: 1em;
}

.button-container {
  display: flex;
  margin: 8px -8px;

  button {
    margin: 8px;
  }
}

// Example SCSS stying:
table {
  width: 100%;
  background-color: var(--card-background-primary);
  border: 1px solid var(--border-color-primary);

  th {
    height: 36px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }

  td {
    height: 36px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
  }

  tbody {
    height: 200px;
  }
}
