<p class="instructions">Buttons or other controls can be added to the right side of the header by instantiating a <i>&#60;ng-kit-card-controls&#62;</i> component, or by adding either the <code>ng-kit-card-controls</code> or <code>xmCardControls</code> directive.</p>
<p class="instructions">If you want to style the entire card-controls area, content can be transcluded using the <code>ng-kit-card-controls-area</code> or <code>xmCardControlsArea</code> directive. This will override an <i>&#60;ng-kit-card-controls&#62;</i> component and it will not display in the dom.</p>

<!-- Example Code: Begin -->
<ng-kit-card>
  <header>Header</header>
  <ng-kit-card-controls>
    <div class="button-group">
      <button
        xm
        class="ng-kit-sm ng-kit-primary">
        Button 1
      </button>
      <button
        xm
        class="ng-kit-sm ng-kit-primary">
        Button 2
    </button>
    </div>
  </ng-kit-card-controls>
  <article>
    <p>Bacon ipsum dolor amet drumstick short loin flank ham hock tongue bresaola, frankfurter chicken. 
      Chuck tri-tip swine buffalo pork loin fatback jowl jerky biltong. Ball tip leberkas pastrami frankfurter, 
      corned beef capicola prosciutto pork chop meatball biltong. Shank burgdoggen alcatra, turducken short 
      loin bresaola cupim flank shankle t-bone meatball pig. Chicken drumstick swine, flank jerky pastrami 
      corned beef cow hamburger.
    </p>
    <p>Cow turducken flank kielbasa short ribs beef ribs tri-tip capicola cupim. Tongue bacon beef ribs, 
      frankfurter capicola pancetta ribeye chuck corned beef shoulder ham. Strip steak buffalo frankfurter 
      alcatra. Buffalo pork loin fatback capicola ribeye. Kielbasa shoulder ground round tri-tip turkey chuck 
      pancetta pork belly. Pork filet mignon ground round ham, short ribs kielbasa sirloin bresaola tri-tip 
      fatback swine turkey.
    </p>
  </article>
</ng-kit-card>
<!-- Example Code: End -->