<p class="instructions">If widths are not set, all columns default to evenly divide the available width (here, 20% each)</p>
<p class="instructions">The <i>&#60;tbody&#62;</i> height is set to 200px. Table scrolls to accommodate the overflow.</p>
<p class="instructions">The table does not have a border for easy implementation in cards and modals.</p>

<!-- Example Code: Begin -->
<table ngk>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Title</th>
      <th>Username</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>Contractor</td>
      <td>motto271</td>
      <td>
        <button
          ngk
          class="ngk-sm ngk-primary"
          icon="icon-account">
          Profile
        </button>
      </td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Manager</td>
      <td>jthornton110</td>
      <td>
        <button
          ngk
          class="ngk-sm ngk-primary"
          icon="icon-account">
          Profile
        </button>
      </td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>Bird</td>
      <td>Technician</td>
      <td>lbird33</td>
      <td>
        <button
          ngk
          class="ngk-sm ngk-primary"
          icon="icon-account">
          Profile
        </button>
      </td>
    </tr>
    <tr>
      <td>Richard</td>
      <td>Kimble</td>
      <td>Technician</td>
      <td>rkimble50</td>
      <td>
        <button
          ngk
          class="ngk-sm ngk-primary"
          icon="icon-account">
          Profile
        </button>
      </td>
    </tr>
    <tr>
      <td>Jonathan</td>
      <td>Lawrence</td>
      <td>Contractor</td>
      <td>jlawrence85</td>
      <td>
        <button
          ngk
          class="ngk-sm ngk-primary"
          icon="icon-account">
          Profile
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Example Code: End -->