<section>
  <div>
    <button
      xm
      class="ng-kit-lg ng-kit-primary">
      Primary Button Large
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-lg ng-kit-secondary">
      Secondary Button Large
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-md ng-kit-primary">
      Primary Button Regular
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-md ng-kit-secondary">
      Secondary Button Regular
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-sm ng-kit-primary">
      Primary Button Small
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-sm ng-kit-secondary">
      Secondary Button Small
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-xs ng-kit-primary">
      Primary Button Extra Small
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-xs ng-kit-secondary">
      Secondary Button Extra Small
    </button>
  </div>  
</section>