<section>
  <div>
    <button
      ngk
      class="ngk-lg ngk-primary">
      Primary Button Large
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-lg ngk-secondary">
      Secondary Button Large
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-md ngk-primary">
      Primary Button Regular
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-md ngk-secondary">
      Secondary Button Regular
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-sm ngk-primary">
      Primary Button Small
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-sm ngk-secondary">
      Secondary Button Small
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-xs ngk-primary">
      Primary Button Extra Small
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-xs ngk-secondary">
      Secondary Button Extra Small
    </button>
  </div>  
</section>