<p class="instructions">The NgkAccordionComponent contains 1 or more NgkAccordionPannelComponents, each consisting of an NgkAccordionHeaderComponent and an NgkAccordionBodyComponent</p>
<p class="instructions">
  The NgkAccordionHeaderComponent and NgkAccordionBodyComponent are private and not exported. To transclude content to these areas use NgkAccordionHeaderDirective and 
  NgkAccordionBodyDirective instead. For more information on each, see their respective examples and API.
</p>
<p class="instructions">No styling has been applied to this example. As you can see the NgkAccordionComponent is styled minimally to give the user flexibility and control during in implementation.</p>

<!-- Example Code: Begin -->
<ngk-accordion>
  <ngk-accordion-panel *ngFor="let number of [0, 1, 2, 3]">
    <div ngk-accordion-header><p>Header #{{number}}</p></div>
    <div ngk-accordion-body><p>Body #{{number}}</p></div>
  </ngk-accordion-panel>
</ngk-accordion>
<!-- Example Code: End -->