@import "mixins";

:host {
  display: flex;
  flex-grow: 1;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  flex: 1;

  #router-wrapper {
    display: flex;
    height: 100%;
    flex: 1;
  }

  &.full-screen {


    .main-container {
      position: fixed;
      overflow: hidden;
      margin: 0;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      height: 100%;
      width: 100%;

      app-nav-sidebar {
        display: none;
      }
    }

  }

}

.main-container {
  display: flex;
  flex-grow: 1.0;
  height: calc(100vh - 49px);
  position: relative;
  overflow-x: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch; // Prevent choppy scroll on ios
  background-color: var(--theme-stage-color);

  #router-wrapper {
    display: flex;
    height: 100%;
    overflow: auto;

    @include respond-above(lg) {
      margin-left: 240px;
    }

    &.mini-sidebar {
      @include respond-below(sm) {
        margin-left: 0px;
      }

      @include respond-above(sm) {
        margin-left: 48px;
      }
    }
  }
}
