@import 'mixins';

.instructions {
  margin-bottom: 1em;
}

.custom-day {
  text-align: center;
  text-align: center;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  transition: 0.4s background-color ease;
  color: var(--text-color-primary);

  &.faded {
    background-color: alpha(var(--theme-color-primary), 0.65) !important;
  }

  @include respond-below(xs) {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
  }
}

.custom-day.range {
  color: #ffffff;
  background-color: var(--theme-color-primary);
}

@media (hover: hover) {
  .custom-day:hover {
    color: #ffffff;
    background-color: var(--theme-color-primary);
  }
}

pre {
  color: var(--text-color-primary);
}
