<p class="instructions">Optionally, you can include a <code>ngkCardBadge</code> in the header by adding a <i>&#60;ngk-card-badge&#62;</i> component (recommended) or using the <code>ngk-card-badge</code> or <code>ngkCardBadge</code> directive on html tag.</p>
<p class="instructions">The <i>&#60;ngk-card-badge&#62;</i> accepts two inputs, <code>image</code> and <code>icon</code>. If given both, the image will be the primary with the icon as the fallback.</p>

<!-- Example Code: Begin -->
<ngk-card>
  <ngk-card-badge icon="icon-flux"></ngk-card-badge>
  <header>Header</header>
  <article>
    <p>Bacon ipsum dolor amet drumstick short loin flank ham hock tongue bresaola, frankfurter chicken. 
      Chuck tri-tip swine buffalo pork loin fatback jowl jerky biltong. Ball tip leberkas pastrami frankfurter, 
      corned beef capicola prosciutto pork chop meatball biltong. Shank burgdoggen alcatra, turducken short 
      loin bresaola cupim flank shankle t-bone meatball pig. Chicken drumstick swine, flank jerky pastrami 
      corned beef cow hamburger.
    </p>
    <p>Cow turducken flank kielbasa short ribs beef ribs tri-tip capicola cupim. Tongue bacon beef ribs, 
      frankfurter capicola pancetta ribeye chuck corned beef shoulder ham. Strip steak buffalo frankfurter 
      alcatra. Buffalo pork loin fatback capicola ribeye. Kielbasa shoulder ground round tri-tip turkey chuck 
      pancetta pork belly. Pork filet mignon ground round ham, short ribs kielbasa sirloin bresaola tri-tip 
      fatback swine turkey.
    </p>
  </article>
</ngk-card>
<!-- Example Code: End -->