<p class="instructions">The card body has just 3 styles on the wrapper for untagged content that is transcluded into it:<br>
  &#123;<br>&emsp;border-radius: 0 0 2px 2px; <br>&emsp;color: var(--text-color-primary); <br>&emsp;overflow: hidden;	<br>&#125;</p>
<p class="instructions">The card body can be replaced by adding <code>ngk-card-body</code> or <code>xmCardBody</code> to any div.</p>
<p class="instructions">In the example, as the <code>xmCardBody</code> directive is present the root level <i>&#60;article&#62;</i> tag the <i>&#60;div&#62;</i> tag is overridden and will not display. Checkout the code to see the missing <i>&#60;div&#62;</i> tag.</p>

<!-- Example Code: Begin -->
<ngk-card>
  <header>Header</header>
  <div>I don't show because I wasn't included in the HTML element with the ngkCardBody directive.</div>
  <article ngkCardBody>
    <div>Bacon ipsum dolor amet drumstick short loin flank ham hock tongue bresaola, frankfurter chicken. 
      Chuck tri-tip swine buffalo pork loin fatback jowl jerky biltong. Ball tip leberkas pastrami frankfurter, 
      corned beef capicola prosciutto pork chop meatball biltong. Shank burgdoggen alcatra, turducken short 
      loin bresaola cupim flank shankle t-bone meatball pig. Chicken drumstick swine, flank jerky pastrami 
      corned beef cow hamburger.
    </div>
    <div>Cow turducken flank kielbasa short ribs beef ribs tri-tip capicola cupim. Tongue bacon beef ribs, 
      frankfurter capicola pancetta ribeye chuck corned beef shoulder ham. Strip steak buffalo frankfurter 
      alcatra. Buffalo pork loin fatback capicola ribeye. Kielbasa shoulder ground round tri-tip turkey chuck 
      pancetta pork belly. Pork filet mignon ground round ham, short ribs kielbasa sirloin bresaola tri-tip 
      fatback swine turkey.
    </div>
  </article>
</ngk-card>
<!-- Example Code: End -->
