<p class="instructions">By setting the <code>closeOthers</code> input on XmAccordionComponent to true, when an accordion panel is selected the others will automatically be collapsed.</p>
<p class="instructions">By setting the <code>isOpenOnInit</code> input on an XmAccordionPanelComponent to true, that panel will start as expanded. Note that panel #1 is expanded in the exmaple.</p>
<p class="instructions">The typical styling, which follows that of XmCardComponent has been applied to the header and body below.</p>

<!-- Example Code: Begin -->
<ng-kit-accordion [closeOthers]="true">
  <ng-kit-accordion-panel *ngFor="let number of [0, 1, 2, 3]" [isOpenOnInit]="number === 1">
    <div
      class="header"
      ng-kit-accordion-header>
      <p>Header #{{number}}</p>
    </div>
    <div 
      class="body"
      ng-kit-accordion-body>
      <p>{{bacon[number]}}</p>
    </div>
  </ng-kit-accordion-panel>
</ng-kit-accordion>
<!-- Example Code: End -->