<p class="instructions">Text placed in a <i>&#60;header&#62;</i> tag will be transcluded into the header tag.</p>
<p class="instructions">HTML elements that do not have a directive indicating that they should be placed elsewhere will be transcluded into the card body.</p>
<p class="instructions">In this example there are two <i>&#60;p&#62;</i> tags. As neither have a directive in them to indicate that they should go elsewhere, they are transcluded into the <i>&#60;ng-kit-card-body&#62;</i> tag.</p>
<p class="instructions">*NOTE: There is no padding on the <i>&#60;ng-kit-card-body&#62;</i> tag allowing for use of the full body. The other examples have styling added to give padding/margin.</p>

<!-- Example Code: Begin -->
<ng-kit-card>
  <header>Header</header>
  <p>Bacon ipsum dolor amet drumstick short loin flank ham hock tongue bresaola, frankfurter chicken. 
    Chuck tri-tip swine buffalo pork loin fatback jowl jerky biltong. Ball tip leberkas pastrami frankfurter, 
    corned beef capicola prosciutto pork chop meatball biltong. Shank burgdoggen alcatra, turducken short 
    loin bresaola cupim flank shankle t-bone meatball pig. Chicken drumstick swine, flank jerky pastrami 
    corned beef cow hamburger.
  </p>
  <p>Cow turducken flank kielbasa short ribs beef ribs tri-tip capicola cupim. Tongue bacon beef ribs, 
    frankfurter capicola pancetta ribeye chuck corned beef shoulder ham. Strip steak buffalo frankfurter 
    alcatra. Buffalo pork loin fatback capicola ribeye. Kielbasa shoulder ground round tri-tip turkey chuck 
    pancetta pork belly. Pork filet mignon ground round ham, short ribs kielbasa sirloin bresaola tri-tip 
    fatback swine turkey.
  </p>
</ng-kit-card>
<!-- Example Code: End -->