.instructions {
  margin-bottom: 1em;
}

ngk-dropdown-menu {
  background-color: var(--card-background-primary);
  border: 1px solid var(--border-color-primary);

  .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 1.6rem;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: var(--theme-color-primary);

        p {
          color: #ffffff;
        }
      }
    }

    p {
      color: var(--text-color-primary);
    }
  }
}

label {
  font-size: 1.6rem;
}
