<section>
  <div>
    <button
      ngk
      class="ngk-lg ngk-primary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-lg ngk-secondary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-md ngk-primary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-md ngk-secondary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-sm ngk-primary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
  <div>
    <button
      ngk
      class="ngk-sm ngk-secondary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
</section>