<section>
  <div>
    <button
      xm
      class="ng-kit-lg ng-kit-primary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-lg ng-kit-secondary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-md ng-kit-primary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-md ng-kit-secondary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-sm ng-kit-primary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
  <div>
    <button
      xm
      class="ng-kit-sm ng-kit-secondary"
      icon="icon-account-multiple-plus">
    </button>
  </div>
</section>