<div class="flex-row">
  <h1>
    H1 - Heading,
    <span>400 Montserrat 36px</span>
  </h1>
  <h2>
    H2 - Heading,
    <span>400 Montserrat 24px</span>
  </h2>
  <h3>
    H3 - Heading,
    <span>400 Montserrat 21px</span>
  </h3>
  <p>
    P - Paragraph, <span>300 Montserrat 16px</span>
    — Lorem ipsum dolor sit amet, consectetur adipisicing <a href="#0">elit omnis voluptate</a>
    distinctio reprehenderit, autem deleniti ad voluptatum eaque. Optio ea aperiam nisi distinctio 
    nemo repellat, voluptate fugiat. Quidem neque illum, blanditiis. quis nostrud exercitation ullamco 
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
    voluptate velit esse cillum.
  </p>
</div>