.instructions {
  margin-bottom: 1em;
}

.panel-states {
  margin-bottom: 16px;
  padding: 16px;
  overflow: auto;
  color: var(--text-color-primary);
  background-color: var(--card-background-primary);
}

// Example SCSS stying: None/Default
ngk-accordion {
  border: 1px solid var(--border-color-primary);

  ngk-accordion-panel {

    .header,
    .body {
      padding: 16px;
    }

    .header {
      font-weight: 600;
      color: var(--heading-color-primary);
      background-color: var(--card-header-background-primary);
    }

    .body {
      background-color: var(--card-background-primary);
    }
  }
}
